:root {
  --background: #f8fafc;

  --surface: #ffffff;

  --border: #e2e8f0;

  --primary: #304D8C;

  --success: #3E63B0;

  --warning: #1F2D63;

  --text: #0f172a;

  --muted: #64748b;
}

.dark {
  --background: #020617;

  --surface: #0f172a;

  --border: #1e293b;

  --primary: #85A3DE;

  --success: #5D85D1;

  --warning: #5D85D1;

  --text: #f8fafc;

  --muted: #94a3b8;
}